body {
  display:flexbox;
  justify-content: center;
  align-content: center;
  background-color: rgb(13, 13, 13);
  max-width: 80%;
  margin-left: 10%;
  margin-bottom: 50px;
}

.Component {
  border-style:solid;
  color:wheat;
  background-color: rgb(39, 39, 39);
  border-color: wheat;
  border-radius: 5px;
  margin-top: 20px;
  padding:20px;
}

#info {
  display:flex;
  text-align: center;
  justify-content: center;
}

.spread {
  margin-left: 10px;
}

nav {
  display: flex;
  justify-content: space-around;
}

a {
  color: wheat;
  border: solid;
  font-weight: bold;
  padding: 5px;
  text-decoration: none;
}
